p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(17px + 0.2vw);
    background-color: darkblue;
}

h1{
    text-align: center;
    margin-top: 100px;
}